        body { 
        	padding-bottom: 20px; 
        }
        .foot_p{
        	color:white;
        	text-align: center;
        }
        .img-circle{
        	border-radius: 20%;
        	margin-top: 60px;
        }
        h1{
            margin-top: 80px;
        }
        .jumbotron p{
        	margin-top: 40px;
        	font-size: 25px;
        }
        #loginButton{
        	margin-top: 260px;
        }
        .jumbotron{
        	background-image: url(img/2012.jpg);
        	background-size: cover;
        	background-repeat:no-repeat;
        	background-color: #C0C0C0;
        	height: 720px;
        }
        #jContainer{
        	background-color: #C0C0C0;
        }
        .btn{
        	margin-right: 6px;
        	position:relative;
        	top:6px;
        }
        .btn-lg{
        	position:relative;
        	top:0px;        	
        }
        .foot_p{
        	margin-top: 10px;
        }